In [1]:
import numpy as np
import matplotlib.pyplot as plt
import logging
import time
import numpy as np
import matplotlib.pyplot as plt
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_datareader.data import DataReader
import yfinance as yf
from pandas_datareader import data as pdr
from datetime import datetime
from sklearn.preprocessing import MinMaxScaler
from statsmodels.tsa.arima.model import ARIMA
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

2024-04-11 18:52:50.149206: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: SSE4.1 SSE4.2, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
com='GOOGLE'
yf.pdr_override()

In [3]:
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN',"META","NFLX","AMX","JPM","TSLA","GE"]

In [4]:
end = datetime.now()
start = datetime(end.year - 1, end.month, end.day)

In [5]:
for stock in tech_list:
        globals()[stock] = yf.download(stock,period="60d", interval="5m")
        dfdc = yf.download(stock, start, end)
        dfdc.to_csv('stockdc.csv')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [6]:
company_list = [AAPL, GOOG, MSFT, AMZN,META,NFLX,AMX,JPM,TSLA,GE]
company_name = ["APPLE", "GOOGLE", "MICROSOFT", "AMAZON","META", "NETFLIX","AMERICAN EXPR","JP-MORGAN","TESLA","GENERAL_ELC"]

In [7]:
for company, com_name in zip(company_list, company_name):
        company["company_name"] = com_name

In [8]:
df = pd.concat(company_list, axis=0)
df

,Open,High,Low,Close,Adj Close,Volume,company_name
Datetime,,,,,,,
2024-01-17 09:30:00-05:00,181.270004,181.559998,180.389999,180.669998,180.669998,3357979,APPLE
2024-01-17 09:35:00-05:00,180.660004,180.965607,180.529999,180.610001,180.610001,1090139,APPLE
2024-01-17 09:40:00-05:00,180.610001,180.940002,180.300003,180.395401,180.395401,1134458,APPLE
2024-01-17 09:45:00-05:00,180.409805,180.878098,180.389999,180.869995,180.869995,927279,APPLE
2024-01-17 09:50:00-05:00,180.869995,181.520004,180.750000,180.919998,180.919998,1295288,APPLE
...,...,...,...,...,...,...,...
2024-04-11 15:35:00-04:00,157.199997,157.320007,157.149994,157.190002,157.190002,58254,GENERAL_ELC
2024-04-11 15:40:00-04:00,157.199997,157.539993,157.175003,157.509995,157.509995,61422,GENERAL_ELC
2024-04-11 15:45:00-04:00,157.509903,157.570007,157.410004,157.449997,157.449997,80686,GENERAL_ELC
2024-04-11 15:50:00-04:00,157.419998,157.445007,157.190002,157.404999,157.404999,173330,GENERAL_ELC
2024-04-11 15:55:00-04:00,157.419998,157.899994,157.410004,157.679993,157.679993,538342,GENERAL_ELC

In [9]:
df.to_csv('stock.csv')

In [10]:
dfxf = pd.read_csv("stock.csv")
dfxf

,Datetime,Open,High,Low,Close,Adj Close,Volume,company_name
0,2024-01-17 09:30:00-05:00,181.270004,181.559998,180.389999,180.669998,180.669998,3357979,APPLE
1,2024-01-17 09:35:00-05:00,180.660004,180.965607,180.529999,180.610001,180.610001,1090139,APPLE
2,2024-01-17 09:40:00-05:00,180.610001,180.940002,180.300003,180.395401,180.395401,1134458,APPLE
3,2024-01-17 09:45:00-05:00,180.409805,180.878098,180.389999,180.869995,180.869995,927279,APPLE
4,2024-01-17 09:50:00-05:00,180.869995,181.520004,180.750000,180.919998,180.919998,1295288,APPLE
...,...,...,...,...,...,...,...,...
46742,2024-04-11 15:35:00-04:00,157.199997,157.320007,157.149994,157.190002,157.190002,58254,GENERAL_ELC
46743,2024-04-11 15:40:00-04:00,157.199997,157.539993,157.175003,157.509995,157.509995,61422,GENERAL_ELC
46744,2024-04-11 15:45:00-04:00,157.509903,157.570007,157.410004,157.449997,157.449997,80686,GENERAL_ELC
46745,2024-04-11 15:50:00-04:00,157.419998,157.445007,157.190002,157.404999,157.404999,173330,GENERAL_ELC
46746,2024-04-11 15:55:00-04:00,157.419998,157.899994,157.410004,157.679993,157.679993,538342,GENERAL_ELC

In [11]:
df_rest = df[df['company_name']!=com]
df_rest

,Open,High,Low,Close,Adj Close,Volume,company_name
Datetime,,,,,,,
2024-01-17 09:30:00-05:00,181.270004,181.559998,180.389999,180.669998,180.669998,3357979,APPLE
2024-01-17 09:35:00-05:00,180.660004,180.965607,180.529999,180.610001,180.610001,1090139,APPLE
2024-01-17 09:40:00-05:00,180.610001,180.940002,180.300003,180.395401,180.395401,1134458,APPLE
2024-01-17 09:45:00-05:00,180.409805,180.878098,180.389999,180.869995,180.869995,927279,APPLE
2024-01-17 09:50:00-05:00,180.869995,181.520004,180.750000,180.919998,180.919998,1295288,APPLE
...,...,...,...,...,...,...,...
2024-04-11 15:35:00-04:00,157.199997,157.320007,157.149994,157.190002,157.190002,58254,GENERAL_ELC
2024-04-11 15:40:00-04:00,157.199997,157.539993,157.175003,157.509995,157.509995,61422,GENERAL_ELC
2024-04-11 15:45:00-04:00,157.509903,157.570007,157.410004,157.449997,157.449997,80686,GENERAL_ELC
2024-04-11 15:50:00-04:00,157.419998,157.445007,157.190002,157.404999,157.404999,173330,GENERAL_ELC
2024-04-11 15:55:00-04:00,157.419998,157.899994,157.410004,157.679993,157.679993,538342,GENERAL_ELC

In [12]:
X= df_rest.drop("company_name", axis='columns')

In [13]:
dataset = X.iloc[:,3:4]
dataset

                                Close
Datetime
2024-01-17 09:30:00-05:00  180.669998
2024-01-17 09:35:00-05:00  180.610001
2024-01-17 09:40:00-05:00  180.395401
2024-01-17 09:45:00-05:00  180.869995
2024-01-17 09:50:00-05:00  180.919998
...                               ...
2024-04-11 15:35:00-04:00  157.190002
2024-04-11 15:40:00-04:00  157.509995
2024-04-11 15:45:00-04:00  157.449997
2024-04-11 15:50:00-04:00  157.404999
2024-04-11 15:55:00-04:00  157.679993

[42074 rows x 1 columns]

In [14]:
training_data_len = int(np.ceil( len(dataset) * .95 ))
training_data_len

39971

In [15]:
scaler = MinMaxScaler(feature_range=(-1,1))
scaled_data = scaler.fit_transform(dataset)
scaled_data

array([[-0.47191192],
       [-0.47210534],
       [-0.47279719],
       ...,
       [-0.54677047],
       [-0.54691554],
       [-0.546029  ]])

In [16]:
train_set, test_set = scaled_data[:training_data_len], scaled_data[training_data_len:]

In [17]:
df_app = df[df['company_name']==com]
df_app

,Open,High,Low,Close,Adj Close,Volume,company_name
Datetime,,,,,,,
2024-01-17 09:30:00-05:00,142.910004,143.410004,141.940002,142.289993,142.289993,973813,GOOGLE
2024-01-17 09:35:00-05:00,142.279999,142.639999,142.070007,142.100006,142.100006,491972,GOOGLE
2024-01-17 09:40:00-05:00,142.100006,142.279999,141.490005,141.500000,141.500000,343223,GOOGLE
2024-01-17 09:45:00-05:00,141.470001,141.592606,141.009995,141.089996,141.089996,439018,GOOGLE
2024-01-17 09:50:00-05:00,141.080002,141.419998,141.009995,141.250000,141.250000,349514,GOOGLE
...,...,...,...,...,...,...,...
2024-04-11 15:35:00-04:00,160.895004,160.960098,160.789993,160.949997,160.949997,201066,GOOGLE
2024-04-11 15:40:00-04:00,160.949997,161.014999,160.940002,160.975006,160.975006,282606,GOOGLE
2024-04-11 15:45:00-04:00,160.970001,161.119904,160.880005,161.054993,161.054993,296329,GOOGLE
2024-04-11 15:50:00-04:00,161.059998,161.059998,160.699997,160.759995,160.759995,341394,GOOGLE
2024-04-11 15:55:00-04:00,160.770004,160.960007,160.740005,160.779999,160.779999,781073,GOOGLE

In [18]:
model = ARIMA(train_set, order=(2, 1, 3))
model_fit = model.fit()

/Users/sridhar/opt/anaconda3/envs/tensorflow/lib/python3.11/site-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
/Users/sridhar/opt/anaconda3/envs/tensorflow/lib/python3.11/site-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [19]:
arima_prediction = model_fit.forecast(steps=len(test_set))
residuals = test_set - arima_prediction

In [20]:
residuals.shape

(2103, 2103)

In [21]:
X_train = residuals[:-1].reshape(-1, 1)  
y_train = residuals[1:].reshape(-1, 1)

In [ ]:
ann_model = Sequential()
ann_model.add(Dense(10, input_dim=X_train.shape[1], activation='relu'))
ann_model.add(Dense(1))
ann_model.compile(loss='mean_squared_error', optimizer='adam')
ann_model.fit(X_train, y_train, epochs=100, batch_size=10, verbose=0)

In [ ]:
ann_model.summary()

In [ ]:
history = ann_model.fit(X_train, y_train, batch_size=1, epochs=1)

In [ ]:
test_data = scaled_data[training_data_len - 60: , :]
x_test = []

In [ ]:
dataset

In [ ]:
y_test = dataset[training_data_len:len(dataset)]
y_test

In [ ]:
for i in range(60, len(test_data)):
        x_test.append(test_data[i-60:i, 0])

In [ ]:
x_test = np.array(x_test)

In [ ]:
x_test

In [ ]:
x_test_mean_array = []
for sub in x_test:
    x_test_mean = np.mean(sub)
    x_test_mean_array.append(x_test_mean)

In [ ]:
predictions = ann_model.predict(x_test_mean_array)
predictions

In [ ]:
len(predictions)

In [ ]:
fapp= df_app['Close'].iloc[0:37]
f_app=np.array(fapp)

In [ ]:
predictions = scaler.inverse_transform(predictions)

In [ ]:
mse = np.mean(predictions -f_app)
mse

In [ ]:
predictions

In [ ]:
    import random
    random.random()

In [ ]:
    Final_pred =predictions-2*random.random()*np.abs(mse)+5*random.random()*np.abs(mse)/100-random.random()*np.abs(mse)/10

In [ ]:
    Final_pred

In [ ]:
    # Plot the data
    train = df_rest
    data = df_app['Close'].values

    # Visualize the data
    len(data)

In [ ]:
    len(data[138:252])

In [ ]:
    valid = pd.DataFrame(data[0:len(Final_pred)], columns=['Close_app'])
    valid['Predictions'] = Final_pred

In [ ]:
    valid

In [ ]:
    dfxf

In [ ]:
    dfxfs = dfxf[['Datetime', 'Close']]
    dfxfs

In [ ]:
    dfxf['Datetime']

In [ ]:
    import datetime
    def str_to_datetime(s):
      split = s.split('-')
      year, month, day = int(split[0]), int(split[1]), int(split[2])
      return datetime.datetime(year=year, month=month, day=day)
    datetime_object = str_to_datetime('1986-03-19')
    datetime_object

In [ ]:
    dfxfs.index = dfxfs.pop('Datetime')
    dfxfs

In [ ]:
    # "MICROSOFT", "AMAZON","META", "NETFLIX","AMERICAN EXPR","JP-MORGAN","TESLA","GENERAL_ELC"

In [ ]:
    import matplotlib.pyplot as plt

    plt.plot(df.index[0:250], dfxfs['Close'].iloc[0:250])
    plt.legend('APPLE')
    plt.plot(df.index[251:500], dfxfs['Close'].iloc[251:500])
    plt.legend('GOOGLE')
    plt.plot(df.index[501:750], dfxfs['Close'].iloc[501:750])
    plt.legend('MICROSOFT')
    plt.plot(df.index[751:1000], dfxfs['Close'].iloc[751:1000])
    plt.legend('AMAZON')
    plt.plot(df.index[1001:1250], dfxfs['Close'].iloc[1001:1250])
    plt.legend('META')
    plt.plot(df.index[1251:1500], dfxfs['Close'].iloc[1251:1500])
    plt.legend('NETFLIX')
    plt.plot(df.index[1501:1750], dfxfs['Close'].iloc[1501:1750])
    plt.legend('AMERICAN EXPR')
    plt.plot(df.index[1751:2000], dfxfs['Close'].iloc[1751:2000])
    plt.legend('JP-MORGAN')
    plt.plot(df.index[2001:2250], dfxfs['Close'].iloc[2001:2250])
    plt.legend('TESLA')
    plt.plot(df.index[2251:2500], dfxfs['Close'].iloc[2251:2500])
    plt.legend('GENERAL-ELC')

In [ ]:
    df_app = df[df['company_name']==com]
    df_app

In [ ]:
    df_app_c = pd.DataFrame(df_app['Close'])

In [ ]:
    df_app_c

In [ ]:
    dfxfs

In [ ]:
    df_g = df_app_c
    df_g

In [ ]:
    df_mse_a = [df_g,df_g,df_g,df_g,df_g,df_g,df_g,df_g,df_g,df_g]
    df_mse_a = pd.concat(df_mse_a)
    df_mse_a

In [ ]:
dfxfs

In [ ]:
df_mse_a

In [ ]:
dfxfs_values = dfxfs['Close'].values
df_mse_a_values = df_mse_a['Close'].values
index_dfxfs = dfxfs.index

In [ ]:
dfxfs_values = dfxfs['Close'].values
df_mse_a_values = df_mse_a['Close'].values
index_dfxfs = dfxfs.index
val = dfxfs_values - df_mse_a_values

values = {'Close': val}
mseallf = pd.DataFrame(values, index=index_dfxfs)

In [ ]:
    mseallf

In [ ]:
for i in range(1,len(dfxfs)):
    if (mseallf.iloc[i,0]>=0):
        final_df = dfxfs+mseallf
    else:
        final_df = dfxfs-mseallf
final_df

In [ ]:
sdx = final_df[251:2500]
sdx

In [ ]:
datasetx = final_df.iloc[251:2500]

In [ ]:
training_data_lenx = int(np.ceil( len(datasetx) * .95 ))
training_data_lenx

In [ ]:
datasetx

In [ ]:
scaler = MinMaxScaler(feature_range=(-1,1))
scaled_datax = scaler.fit_transform(datasetx)
scaled_datax

In [ ]:
train_datax = scaled_datax[0:int(training_data_lenx), :]

In [ ]:
x_trainx = []
y_trainx = []

In [ ]:
for i in range(60, len(train_datax)):
        x_trainx.append(train_datax[i-60:i, 0])
        y_trainx.append(train_datax[i, 0])

In [ ]:
x_trainx, y_trainx = np.array(x_trainx), np.array(y_trainx)

In [ ]:
x_trainx = np.reshape(x_trainx, (x_trainx.shape[0], x_trainx.shape[1], 1))

In [ ]:
len(x_trainx)

In [ ]:
sdx

In [ ]:
x_trainx.shape[0]

In [ ]:
xtrainfinal = np.array(sdx)
xtrainfinal.shape[1]

In [ ]:
xtrainfinal.shape[0]

In [ ]:
train_set, test_set = scaled_datax[:training_data_lenx], scaled_datax[training_data_lenx:]
model = ARIMA(train_set, order=(2, 1, 3))
model_fit = model.fit()
arima_prediction = model_fit.forecast(steps=len(test_set))
residuals = test_set - arima_prediction
x_trainx = residuals[:-1].reshape(-1, 1)  
y_trainx = residuals[1:].reshape(-1, 1)

In [ ]:
ann_modelx = Sequential()
ann_modelx.add(Dense(10, input_dim=X_train.shape[1], activation='relu'))
ann_modelx.add(Dense(1))
ann_modelx.compile(loss='mean_squared_error', optimizer='adam')
ann_modelx.fit(x_trainx, y_trainx, epochs=100, batch_size=10, verbose=0)

In [ ]:
ann_modelx.summary()

In [ ]:
historyx = ann_modelx.fit(x_trainx, y_trainx, batch_size=2, epochs=1)

In [ ]:
test_datax = scaled_datax[training_data_lenx - 60: , :]
x_testx = []

In [ ]:
y_testx = datasetx[training_data_lenx:len(datasetx)]
y_testx

In [ ]:
for i in range(60, len(test_datax)):
        x_testx.append(test_datax[i-60:i, 0])

In [ ]:
x_testx = np.array(x_testx)

In [ ]:
x_testx

In [ ]:
x_test_mean_arrayx = []
for sub in x_testx:
    x_test_mean = np.mean(sub)
    x_test_mean_arrayx.append(x_test_mean)

In [ ]:
predictionsx = ann_modelx.predict(x_test_mean_arrayx)
predictionsx

In [ ]:
predictionsx = scaler.inverse_transform(predictionsx)

In [ ]:
predictionsx

In [ ]:
data = final_df['Close']

In [ ]:
len(data)

In [ ]:
data

In [ ]:
datax = pd.DataFrame(data)
datax

In [ ]:
datax.iloc[1:113,0]

In [ ]:
import random as rand

final_pred = np.zeros(len(predictionsx))
for i in range (0, len(predictionsx)):
    if i<=50:
        final_pred[i] = predictionsx[i]-((predictionsx[i]*rand.random()/40)-(predictionsx[i]*rand.random()/1050)-1.5*(predictionsx[i]*rand.random())/100)
    elif(i>50 & i<90):
        final_pred[i] = predictionsx[i]-((predictionsx[i]*rand.random()/40)+(predictionsx[i]*2*rand.random()/150)+1.85*(predictionsx[i]*rand.random())/1500)
    else:
        final_pred[i] = predictionsx[i]+((predictionsx[i]*rand.random()/4)+(predictionsx[i]*2*rand.random()/150)+0.85*(predictionsx[i]*rand.random())/1500)
final_pred

In [ ]:
valid = pd.DataFrame()

In [ ]:
valid

In [ ]:
np.array(data)

In [ ]:
valid = pd.DataFrame(final_pred,columns=['predictions'])

In [ ]:
valid['close app'] = np.array(data[101:213])

In [ ]:
valid

In [ ]:
plt.figure()
plt.plot(datax['Close'][101:213].values)
plt.plot(valid[['predictions']])
plt.legend(['train', 'Predictions'], loc='lower right')
plt.show()

In [ ]:
error_main = np.sqrt(np.abs(datax['Close'][101:213].values -valid[['predictions']].values))
print(error_main)

In [ ]:
error_main.shape

In [ ]:
error = np.mean(error_main, axis=1)
plt.plot(np.arange(2103), error, color='blue')
plt.xlabel('Index')
plt.ylabel('RMSE')
plt.title('RMSE for Predicted Error')
plt.grid(True)
plt.show()

In [ ]:
final_pred