In [1]:
import numpy as np
import matplotlib.pyplot as plt
import logging
import time
import numpy as np
import matplotlib.pyplot as plt
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_datareader.data import DataReader
import yfinance as yf
from pandas_datareader import data as pdr
from datetime import datetime
from sklearn.preprocessing import MinMaxScaler

In [2]:
yf.pdr_override()

In [3]:
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN',"META","NFLX","AMX","JPM","TSLA","GE"]

In [4]:
end = datetime.now()
start = datetime(end.year - 1, end.month, end.day)

In [5]:
for stock in tech_list:
        globals()[stock] = yf.download(stock, start, end)
        dfdc = yf.download(stock, start, end)
        dfdc.to_csv('stockdc.csv')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [8]:
company_list = [AAPL, GOOG, MSFT, AMZN,META,NFLX,AMX,JPM,TSLA,GE]
company_name = ["APPLE", "GOOGLE", "MICROSOFT", "AMAZON","META", "NETFLIX","AMERICAN EXPR","JP-MORGAN","TESLA","GENERAL_ELC"]

In [9]:
for company, com_name in zip(company_list, company_name):
        company["company_name"] = com_name

In [10]:
df = pd.concat(company_list, axis=0)
df

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2023-03-06,153.789993,156.300003,153.460007,153.830002,153.013275,87558000,APPLE
2023-03-07,153.699997,154.029999,151.130005,151.600006,150.795105,56182000,APPLE
2023-03-08,152.809998,153.470001,151.830002,152.869995,152.058350,47204800,APPLE
2023-03-09,153.559998,154.539993,150.229996,150.589996,149.790451,53833600,APPLE
2023-03-10,150.210007,150.940002,147.610001,148.500000,147.711563,68572400,APPLE
...,...,...,...,...,...,...,...
2024-02-27,154.990005,155.009995,153.100006,153.990005,153.990005,5826300,GENERAL_ELC
2024-02-28,154.160004,156.910004,153.820007,155.610001,155.610001,6091800,GENERAL_ELC
2024-02-29,155.990005,157.179993,155.100006,156.889999,156.889999,6526200,GENERAL_ELC
2024-03-01,157.000000,159.320007,156.869995,158.649994,158.649994,6937200,GENERAL_ELC
2024-03-04,159.369995,161.770004,158.580002,161.009995,161.009995,6704600,GENERAL_ELC

In [11]:
df.to_csv('stock.csv')

In [12]:
dfxf = pd.read_csv("stock.csv")
dfxf

,Date,Open,High,Low,Close,Adj Close,Volume,company_name
0,2023-03-06,153.789993,156.300003,153.460007,153.830002,153.013275,87558000,APPLE
1,2023-03-07,153.699997,154.029999,151.130005,151.600006,150.795105,56182000,APPLE
2,2023-03-08,152.809998,153.470001,151.830002,152.869995,152.058350,47204800,APPLE
3,2023-03-09,153.559998,154.539993,150.229996,150.589996,149.790451,53833600,APPLE
4,2023-03-10,150.210007,150.940002,147.610001,148.500000,147.711563,68572400,APPLE
...,...,...,...,...,...,...,...,...
2505,2024-02-27,154.990005,155.009995,153.100006,153.990005,153.990005,5826300,GENERAL_ELC
2506,2024-02-28,154.160004,156.910004,153.820007,155.610001,155.610001,6091800,GENERAL_ELC
2507,2024-02-29,155.990005,157.179993,155.100006,156.889999,156.889999,6526200,GENERAL_ELC
2508,2024-03-01,157.000000,159.320007,156.869995,158.649994,158.649994,6937200,GENERAL_ELC
2509,2024-03-04,159.369995,161.770004,158.580002,161.009995,161.009995,6704600,GENERAL_ELC

In [13]:
#skipping one company here initially hardcoding will send dynamically later
com='META'
df_rest = df[df['company_name']!=com]
df_rest

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2023-03-06,153.789993,156.300003,153.460007,153.830002,153.013275,87558000,APPLE
2023-03-07,153.699997,154.029999,151.130005,151.600006,150.795105,56182000,APPLE
2023-03-08,152.809998,153.470001,151.830002,152.869995,152.058350,47204800,APPLE
2023-03-09,153.559998,154.539993,150.229996,150.589996,149.790451,53833600,APPLE
2023-03-10,150.210007,150.940002,147.610001,148.500000,147.711563,68572400,APPLE
...,...,...,...,...,...,...,...
2024-02-27,154.990005,155.009995,153.100006,153.990005,153.990005,5826300,GENERAL_ELC
2024-02-28,154.160004,156.910004,153.820007,155.610001,155.610001,6091800,GENERAL_ELC
2024-02-29,155.990005,157.179993,155.100006,156.889999,156.889999,6526200,GENERAL_ELC
2024-03-01,157.000000,159.320007,156.869995,158.649994,158.649994,6937200,GENERAL_ELC
2024-03-04,159.369995,161.770004,158.580002,161.009995,161.009995,6704600,GENERAL_ELC

In [14]:
X= df_rest.drop("company_name", axis='columns')

In [15]:
dataset = X.iloc[:,3:4]
dataset

                 Close
Date
2023-03-06  153.830002
2023-03-07  151.600006
2023-03-08  152.869995
2023-03-09  150.589996
2023-03-10  148.500000
...                ...
2024-02-27  153.990005
2024-02-28  155.610001
2024-02-29  156.889999
2024-03-01  158.649994
2024-03-04  161.009995

[2259 rows x 1 columns]

In [16]:
training_data_len = int(np.ceil( len(dataset) * .95 ))
training_data_len

2147

In [17]:
scaler = MinMaxScaler(feature_range=(-1,1))
scaled_data = scaler.fit_transform(dataset)
scaled_data

array([[-0.54408254],
       [-0.55147937],
       [-0.54726685],
       ...,
       [-0.53393262],
       [-0.52809477],
       [-0.52026672]])

In [ ]:
train_data = scaled_data[0:int(training_data_len), :]

In [ ]:
x_train = []
y_train = []

In [ ]:
for i in range(60, len(train_data)):
        x_train.append(train_data[i-60:i, 0])
        y_train.append(train_data[i, 0])

In [ ]:
x_train, y_train = np.array(x_train), np.array(y_train)
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))

In [ ]:
x_train.shape[1]

In [ ]:
y_train.shape[0]

In [ ]:
x_train.shape

In [ ]:
com='META'
df_app = df[df['company_name']==com]
df_app