In [21]:
import numpy as np
import matplotlib.pyplot as plt
import logging
import time
import numpy as np
import matplotlib.pyplot as plt
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_datareader.data import DataReader
import yfinance as yf
from pandas_datareader import data as pdr
from datetime import datetime
from sklearn.preprocessing import MinMaxScaler

In [3]:
yf.pdr_override()

In [4]:
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN',"META","NFLX","AMX","JPM","TSLA","GE"]

In [5]:
end = datetime.now()
start = datetime(end.year - 1, end.month, end.day)

In [6]:
for stock in tech_list:
        globals()[stock] = yf.download(stock,period="60d", interval="5m")
        dfdc = yf.download(stock, start, end)
        dfdc.to_csv('stockdc.csv')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [8]:
company_list = [AAPL, GOOG, MSFT, AMZN,META,NFLX,AMX,JPM,TSLA,GE]
company_name = ["APPLE", "GOOGLE", "MICROSOFT", "AMAZON","META", "NETFLIX","AMERICAN EXPR","JP-MORGAN","TESLA","GENERAL_ELC"]

In [9]:
for company, com_name in zip(company_list, company_name):
        company["company_name"] = com_name

In [10]:
df = pd.concat(company_list, axis=0)
df

,Open,High,Low,Close,Adj Close,Volume,company_name
Datetime,,,,,,,
2023-12-06 09:30:00-05:00,194.449997,194.759995,193.500000,193.509506,193.509506,3184036,APPLE
2023-12-06 09:35:00-05:00,193.505005,193.761307,193.119995,193.199997,193.199997,972480,APPLE
2023-12-06 09:40:00-05:00,193.199997,193.520004,193.070099,193.335007,193.335007,867238,APPLE
2023-12-06 09:45:00-05:00,193.335007,193.339996,193.014999,193.119995,193.119995,609785,APPLE
2023-12-06 09:50:00-05:00,193.119995,193.350006,193.039993,193.074493,193.074493,583332,APPLE
...,...,...,...,...,...,...,...
2024-03-04 15:35:00-05:00,160.865005,160.929703,160.665405,160.914993,160.914993,122780,GENERAL_ELC
2024-03-04 15:40:00-05:00,160.929993,161.039993,160.850006,160.850006,160.850006,73399,GENERAL_ELC
2024-03-04 15:45:00-05:00,160.850006,160.979996,160.770004,160.929993,160.929993,103440,GENERAL_ELC
2024-03-04 15:50:00-05:00,160.979996,161.110001,160.899994,161.029999,161.029999,142381,GENERAL_ELC
2024-03-04 15:55:00-05:00,161.039993,161.110001,160.919998,160.979996,160.979996,298961,GENERAL_ELC

In [11]:
df.to_csv('stock.csv')

In [12]:
dfxf = pd.read_csv("stock.csv")
dfxf

,Datetime,Open,High,Low,Close,Adj Close,Volume,company_name
0,2023-12-06 09:30:00-05:00,194.449997,194.759995,193.500000,193.509506,193.509506,3184036,APPLE
1,2023-12-06 09:35:00-05:00,193.505005,193.761307,193.119995,193.199997,193.199997,972480,APPLE
2,2023-12-06 09:40:00-05:00,193.199997,193.520004,193.070099,193.335007,193.335007,867238,APPLE
3,2023-12-06 09:45:00-05:00,193.335007,193.339996,193.014999,193.119995,193.119995,609785,APPLE
4,2023-12-06 09:50:00-05:00,193.119995,193.350006,193.039993,193.074493,193.074493,583332,APPLE
...,...,...,...,...,...,...,...,...
46777,2024-03-04 15:35:00-05:00,160.865005,160.929703,160.665405,160.914993,160.914993,122780,GENERAL_ELC
46778,2024-03-04 15:40:00-05:00,160.929993,161.039993,160.850006,160.850006,160.850006,73399,GENERAL_ELC
46779,2024-03-04 15:45:00-05:00,160.850006,160.979996,160.770004,160.929993,160.929993,103440,GENERAL_ELC
46780,2024-03-04 15:50:00-05:00,160.979996,161.110001,160.899994,161.029999,161.029999,142381,GENERAL_ELC
46781,2024-03-04 15:55:00-05:00,161.039993,161.110001,160.919998,160.979996,160.979996,298961,GENERAL_ELC

In [15]:
#skipping one company here initially hardcoding will send dynamically later
com='META'
df_rest = df[df['company_name']!=com]
df_rest

,Open,High,Low,Close,Adj Close,Volume,company_name
Datetime,,,,,,,
2023-12-06 09:30:00-05:00,194.449997,194.759995,193.500000,193.509506,193.509506,3184036,APPLE
2023-12-06 09:35:00-05:00,193.505005,193.761307,193.119995,193.199997,193.199997,972480,APPLE
2023-12-06 09:40:00-05:00,193.199997,193.520004,193.070099,193.335007,193.335007,867238,APPLE
2023-12-06 09:45:00-05:00,193.335007,193.339996,193.014999,193.119995,193.119995,609785,APPLE
2023-12-06 09:50:00-05:00,193.119995,193.350006,193.039993,193.074493,193.074493,583332,APPLE
...,...,...,...,...,...,...,...
2024-03-04 15:35:00-05:00,160.865005,160.929703,160.665405,160.914993,160.914993,122780,GENERAL_ELC
2024-03-04 15:40:00-05:00,160.929993,161.039993,160.850006,160.850006,160.850006,73399,GENERAL_ELC
2024-03-04 15:45:00-05:00,160.850006,160.979996,160.770004,160.929993,160.929993,103440,GENERAL_ELC
2024-03-04 15:50:00-05:00,160.979996,161.110001,160.899994,161.029999,161.029999,142381,GENERAL_ELC
2024-03-04 15:55:00-05:00,161.039993,161.110001,160.919998,160.979996,160.979996,298961,GENERAL_ELC

In [16]:
X= df_rest.drop("company_name", axis='columns')

In [17]:
dataset = X.iloc[:,3:4]
dataset

                                Close
Datetime
2023-12-06 09:30:00-05:00  193.509506
2023-12-06 09:35:00-05:00  193.199997
2023-12-06 09:40:00-05:00  193.335007
2023-12-06 09:45:00-05:00  193.119995
2023-12-06 09:50:00-05:00  193.074493
...                               ...
2024-03-04 15:35:00-05:00  160.914993
2024-03-04 15:40:00-05:00  160.850006
2024-03-04 15:45:00-05:00  160.929993
2024-03-04 15:50:00-05:00  161.029999
2024-03-04 15:55:00-05:00  160.979996

[42105 rows x 1 columns]

In [18]:
training_data_len = int(np.ceil( len(dataset) * .95 ))
training_data_len

40000

In [22]:
scaler = MinMaxScaler(feature_range=(-1,1))
scaled_data = scaler.fit_transform(dataset)
scaled_data

array([[-0.41802798],
       [-0.41904769],
       [-0.41860289],
       ...,
       [-0.52536427],
       [-0.52503479],
       [-0.52519953]])

In [ ]:
train_data = scaled_data[0:int(training_data_len), :]

In [ ]:
x_train = []
y_train = []

In [ ]:
for i in range(60, len(train_data)):
        x_train.append(train_data[i-60:i, 0])
        y_train.append(train_data[i, 0])

In [ ]:
x_train, y_train = np.array(x_train), np.array(y_train)
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))

In [ ]:
x_train.shape[1]

In [ ]:
y_train.shape[0]

In [ ]:
x_train.shape

In [ ]:
com='META'
df_app = df[df['company_name']==com]
df_app